<!DOCTYPE html> <!-- この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>UVERworld曲診断スタート</title><!--ブラウザのタブのタイトルを指定-->
        <link rel="stylesheet" href="index.CSS">
    </head>

    <body>
        <header>
            <h1 class="headline">
            <a>UVERworld おすすめ曲診断サイト</a>
            </h1>
            <ul class="nav-list">
                <li class="nav-list-item"></li>
            </ul>
        </header>

        <div class="first-block">
        </div>

        <div class="main__top__item__bottom--description--detail">
        2023年7月、邦楽ロックバンド史上最多数とも言える、<br>7万人規模のライブを敢行したUVERworld。<br>そんなUVERworldの曲の中から、
        あなたにピッタリの曲を、<br>３つの項目から診断します。</div>
        <div class="full-img">
        </div>




        <div class="start">
            <h6>診断項目を一つ選んでください</h6>
            <div class="sindan">
            <%= link_to "今の気持ちから", new_song_path, class: "link" %>

            <%= link_to "好きな音楽のジャンルから", new_music_path, class: "link" %>

            <%= link_to "好きなアーティストから", new_beat_path, class: "link" %>
            </div>
        </div>
        <div class="second-block">
        </div>
    </body>