<div class="intoro">
            <p><br>あなたにおすすめの曲は…</p>
        </div>
<div class="song-container">
            <div class="song">
            
            <% if @songs.question1 == "option1" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/IITjr6Ysh60?si=Mj7YbJ-7Fh96TGDe">D-technolife</a><br>
            <a href="https://youtu.be/gQ-8ZBGx26E?si=aASz2U6PiW9-EgTQ">Lump of affection</a><br>
            <a href="https://youtu.be/Ojctxx1Jp1w?si=Y_9-HTR8XwiQDFGN">境界</a><br>  
            <a href="https://youtu.be/0VMCMf0SCJM?si=o1h894SDyIF7p7RL">EN</a><br>  
            <a href="https://youtu.be/odogOFBcFa8?si=GPJ02AF5Gq7FWeh1">THUG LIFE</a><br>  
            <a href="https://youtu.be/i07CAR2fEJM?si=3GIwz3ioCCvb2h2W">YURA YURA</a><br> </h6>
            <h6 class="sub">など<br></h6>
            <h6 class="main__about--description"><br>メジャーデビュー当時の曲から最近の曲まで<br>
            <br>
            クリックで開きます！</h6>
                
   
            <% elsif @songs.question1 == "option2" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/WAvV0H5kY_o?si=mgrGISP8sm7XMDoa">CHANCE!</a><br>
            <a href="https://youtu.be/IC0MW7ZUWPk?si=ttCBsouitNJz0xX9">Live Everyday as if it were the last day</a><br>  
            <a href="https://youtu.be/6f_2lStwxBk?si=OdobnM4-BHVRN7po">LIFEsize</a><br>  
            <a href="https://youtu.be/RwppN4YzbzM?si=-NKd4D72a588KRGD">オトノハ</a><br> </h6>
            <h6 class="sub">など<br></h6>
            <h6 class="main__about--description"><br>寄り添いながらも元気づけてくれる曲が中心<br>
            <br>
            クリックで開きます！</h6>


            <% elsif @songs.question1 == "option3" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/dBd0YHdnOw4?si=V3VXQoVOAU2EMsF5">マダラ蝶</a><br>  
            <a href="https://youtu.be/-RmW6tf2PSE?si=vuUl42RUm5w5wfIJ">恋いしくて</a><br>  
            <a href="https://youtu.be/OrgS1TNzttI?si=VSJb37baP-ESPUvz">優しさの雫</a><br>  
            <a href="https://youtu.be/BX3x_gYBIK8?si=5XAvMSR8_QquI9sy">体温</a><br> </h6>
            <h6 class="sub">など<br></h6>
            <h6 class="main__about--description"><br>新しい出会いがあるかも<br>
            <br>
            クリックで開きます！</h6>

            <% elsif @songs.question1 == "option4" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/0HCxJlJScTE?si=73qNigUuhPabj6aM">CORE PRIDE</a><br>
            <a href="https://youtu.be/FAU7NyiqwQY?si=voOQEu5Au_73jaK2">7th trigger</a><br>  
            <a href="https://youtu.be/zsdAN_vjMIg?si=Vqa1wJLIcwIx6djz">IMPACT</a><br>  
            <a href="https://youtu.be/EBwx7GBy2oM?si=Jday-mhplL7PRhUv">ナノ･セカンド</a><br>  
            <a href="https://youtu.be/icpc0UVUZgM?si=1wb4tjNxzvB2x3Fs">PRAYING RUN</a><br> </h6>
            <h6 class="sub">など<br></h6>
            <h6 class="main__about--description"><br>歌詞が力強く、体の内側から力が湧いてくる曲たち<br>
            <br>
            クリックで開きます！</h6>

            <% elsif @songs.question1 == "option5" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/dDDMVgGOWgk?si=jKDX5KMuDEfzOIPr">君のまま</a><br>  
            <a href="https://youtu.be/CrBD33uDJhs?si=qdgjyH4xf5ke9tD7">終焉</a><br>  
            <a href="https://youtu.be/YFn1juXKN8A?si=AjQlnPB06ryUDOUB">LONE WOLF</a><br>  
            <a href="https://youtu.be/k9muunDqI5A?si=1t_iW2o85mezdx7e">MONDO PIECE</a><br> </h6>
            <h6 class="sub">など<br></h6>
            <h6 class="main__about--description"><br>とにかく泣ける曲たち<br>
            <br>
            クリックで開きます！</h6>

            <% elsif @songs.question1 == "option6" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/IeEZl7s5QXI?si=rtARY9kpqq4Wwc3g">ハイ!問題作</a><br>  
            <a href="https://youtu.be/bhT6YTXehwc?si=IqZCyd9S4VQnIpYO">DIS is Teki</a><br>  
            <a href="https://youtu.be/mCmEOyipqC0?si=UviMS_MLNT-y48Fq">セオリーとの決別の研究+81</a><br>  
            <a href="https://youtu.be/qOO_VdPS0xQ?si=7WtqTSfNPTypIXBd">バーベル~皇帝の新しい服 album ver.~</a><br>  </h6>
            <h6 class="sub">など<br></h6>
            <h6 class="main__about--description"><br>ネタに走った面白い曲が中心<br>
            <br>
            クリックで開きます！</h6>
            
            <% elsif @songs.question1 == "option7" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://music.apple.com/jp/album/%E3%82%B7%E3%83%A3%E3%83%AB%E3%83%9E%E3%83%B3%E3%83%8E%E3%82%A6%E3%83%A9/1538304313?i=1538304320">シャルマンノウラ</a><br>  
            <a href="https://youtu.be/0JPKFukM55A?si=XMKsH8KB-MZcrQ0Q">Nowhere boy</a><br>  
            <a href="https://youtu.be/Yj8jYXBCxcA?si=BBujW1z0Halc3udD">ハルジオン</a><br>  
            <a href="https://youtu.be/JEs64FfKppw?si=yivST2eHuI3dwJ4Z">ENOUGH-1</a><br> </h6>
            <h6 class="sub">など</h6>
            <h6 class="main__about--description"><br>歩きながら聴くとさらに気分が高まる曲たち<br>
            <br>
            クリックで開きます！</h6>

            <% elsif @songs.question1 == "option8" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/doj2_h_t7H4?si=jNzShJzjBuJBiOTI">白昼夢</a><br>  
            <a href="https://youtu.be/2uPzLcizRZ8?si=k9bUB_rDjVxc0Xl-">the song</a><br>  
            <a href="https://youtu.be/hC8v7N721c4?si=Kivawb9eLiDqEHXz">just Melody</a><br>  
            <a href="https://youtu.be/TsX3qSH7u44?si=V3VrwHMJIdi7yzqC">CHANGE</a><br>  
            <a href="https://youtu.be/7wKjv4eLQ7s?si=meHcq_dhUL6ZIdzm">一滴の影響</a><br> </h6>
            <h6 class="sub">など</h6>
            <h6 class="main__about--description">心を浄化してくれる曲たち<br>
            <br>
            クリックで開きます！</h6>

            <% elsif @songs.question1 == "option9" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/ukyRC_fNEP0?si=VjlLiG9C_FrE3Cbl">THE OVER</a><br>  
            <a href="https://youtu.be/7wKjv4eLQ7s?si=meHcq_dhUL6ZIdzm">一滴の影響</a><br>  
            <a href="https://youtu.be/hLtLjhV7PR0?si=Om_mgBnUMmBYKJdh">クオリア</a><br>  
            <a href="https://youtu.be/ZqXmntTj33U?si=tW4KpXBzr1E-ZT-7">Roots</a><br>  
            <a href="https://youtu.be/2C_Qn2s7eQI?si=3sE4obY4w_5n4tjP">AFTER LIFE</a><br> </h6>
            <h6 class="sub">など</h6>
            <h6 class="main__about--description">UVERworldの歴史の中でも屈指の名曲たち<br>
            <br>
            クリックで開きます！</h6>
            </div>
        </div>
    </div>  
<% end %>  