<div class="intoro">
            <p><br>あなたにおすすめの曲は…</p>
        </div>
        <div class="beat-container">
            <div class="beat">
                <% if @beats. question3 == "option1" %>
                <h6>ENCORE AGAINE など</h6>

                <% elsif @beats.question3 == "option2" %>
                <h6>在るべき形 など</h6>

                <% elsif @beats.question3 == "option3" %>
                <h6>来鳥江、SOUL など</h6>

                <% elsif @beats.question3 == "option4" %>
                <h6>FOREVER Young feat. UVERworld</h6>
    </div>
<% end %>  