<div class="intoro">
            <p><br>あなたにおすすめの曲は…</p>
        </div>
        <div class="beat-container">
            <div class="beat">
            <% if @beats. question3 == "option1" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <br><br>
            <a href="https://youtu.be/KDJ9fv9EQys?si=Jz0Odq9gayZ57fnx">ENCORE AGAIN </a></h6>
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>

            <% elsif @beats.question3 == "option2" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <br><br>
            <a href="https://youtu.be/YXAo8SHFTRo?si=r_aVCZ7gtIy4_wcG">在るべき形</a></h6>
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>
            

            <% elsif @beats.question3 == "option3" %>
            <div class="main"> 
            <h6 class="main__about--description-title">
            <br><br>
            <a href="https://youtu.be/TedAu40FyCE?si=3O322Gm_CWbd1nvg">来鳥江(feat.山田孝之＆愛笑む)</a><br>
            <a href="https://youtu.be/ZCOa3YY1MLc?si=tEtknWjAa4EUyBOZ">SOUL(feat.青山テルマ＆愛笑む)</a></h6>
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>


            <% elsif @beats.question3 == "option4" %>
            <div class="main"> 
            <h6 class="main__about--description-title">
            <br><br>
            <a href="https://youtu.be/YEJJe8L-ANE?si=ouGDKmUQABBvVdl-">FOREVER Young feat. UVERworld</a></h6>
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>

            <% elsif @beats.question3 == "option5" %>
            <div class="main"> 
            <h6 class="main__about--description-title">
            <br><br>
            <a href="https://youtu.be/V3c-hC9wvTw?si=caWaYidnkrbySSGZ">UNKNOWN ORCHESTRA</a><br>
            <a href="https://youtu.be/8wMqiYoiLH8?si=CIoT8tFtdawqpGNB">神集め</a></h6> 
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>

            <% elsif @beats.question3 == "option6" %>
            <div class="main"> 
            <h6 class="main__about--description-title">
            <br><br>
            <a href="https://youtu.be/dDDMVgGOWgk?si=WlPGii99qpGoVBig">君のまま</a><br>
            <a href="https://youtu.be/7p1ZrRj1nNM?si=90eWKuPQ3oPXY5g-">SORA</a><br>
            <a href="https://youtu.be/xgjBA231Gzw?si=JhYlKPoWPLeQxdrj">浮世CROSSING</a></h6>
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>

            <% elsif @beats.question3 == "option7" %>
            <div class="main"> 
            <h6 class="main__about--description-title">
            <br><br>
            <a href="https://youtu.be/JmoE4GD-8dM?si=W434KoUSXpz0TpYR">心とココロ</a><br>
            <a href="https://youtu.be/SuBOumz4gF0?si=FWiUBWbjl9Y4zJZi">51% </a><br>
            <a href="https://youtu.be/czRZ5wFWydA?si=5siE7R_efqlK6cLS">ほんの少し</a><br>
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>
    </div>
    <div class="first-block">
    </div>
<% end %>  