<div class="intoro">
            <p><br>あなたにおすすめの曲は…</p>
        </div>
        <div class="beat-container">
            <div class="beat">
                <% if @beats. question3 == "option1" %>
                <h6><br>ENCORE AGAIN など</h6>

                <% elsif @beats.question3 == "option2" %>
                <h6><br>在るべき形 など</h6>

                <% elsif @beats.question3 == "option3" %>
                <h6><br>来鳥江、SOUL など</h6>

                <% elsif @beats.question3 == "option4" %>
                <h6><br>FOREVER Young feat. UVERworld など</h6>

                <% elsif @beats.question3 == "option5" %>
                <h6><br>UNKNOWN ORCHESTRA、神集め など</h6>

                <% elsif @beats.question3 == "option6" %>
                <h6><br>君のまま、SORA、浮世CROSSING など</h6>

                <% elsif @beats.question3 == "option7" %>
                <h6><br>心とココロ、51%、ほんの少し など</h6>
    </div>
    <div class="first-block">
    </div>
<% end %>  