// Place all the styles related to the beats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.beat{
    background-color:black;
    color:white;
    font-size:25px;
  }
.answer{font-size:25px;
    text-align:left;
    background-color: black;
    padding-left: 20%;

  }
.full-img4{
    background-image: url(https://skream.jp/news/2021/11/21/images/UVERworld_Aphoto.jpg); /* 画像のURLを指定       */
    background-size:cover;                 /* 画像のサイズを指定    */
    width: 100%;                              /* 横幅のサイズを指定    */
    height:500px;                            /* 縦幅のサイズを指定    */
    
  }
.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  input[type="text"] {
    font-size: 50px;
    width: 95%;
    height: 40px;
  }
  input[type="submit"] {
    width: 200px;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .second-block{
    background-color:black;
    height:100%;
    }