.nav-list-item{
  background-color: #000000;
}
.songs-container {
    width: 50%;
    margin: 10px auto;
  }
.link{
  color:white;
  font-size:30px;
  justify-content:center;
  font-family:sans-serif;

}

.full-img{
    background-image: url(https://aop-emtg-jp.s3-ap-northeast-1.amazonaws.com/prod/public/uverworld/contents/information/be427a13ed232b24cd45811504227fe8.JPG); /* 画像のURLを指定       */
    background-size:cover;                 /* 画像のサイズを指定    */
    width: 120%;                              /* 横幅のサイズを指定    */
    height:1000px;                            /* 縦幅のサイズを指定    */
    object-fit: cover;

}

.h3 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
  }
.songs {
    border-top: solid #000000;
    margin-top: 10px;
    padding-top: 20px;
  }
.first-block {
    height: 200px;
    background-color: black;
  }
.start {
    font-size: 40px;
    background-color: #000000;
    color:white;
  }
  
.second-block {
    height: 250px;
    background-color:#000000;
  }
.main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
.time {
    display: flex;
    justify-content: flex-end;
  }

