<div class="intoro">
            <p><br>あなたにおすすめの曲は…</p>
        </div>
    <div class="music-container">
        <div class="music">
            <% if @musics. question2 == "option1" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/nDaVvnbVIkw?si=yPc02iDvGwxExLNq">DECIDED</a><br>
            <a href="https://youtu.be/rF7WJmrLL-g?si=owbOWl6FLDZ-69ny">REVERSI</a><br>
            <a href="https://youtu.be/iv9FzgXAX5Y?si=bhsSBHPem5CNnHY7">KINJITO</a><br> 
            <a href="https://youtu.be/IDuEih3KUUM?si=WRUTr01rPVCq8faG">GO-ON<br></a></h6>
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>

            <% elsif @musics.question2 == "option2" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/qhF3YJklVxk?si=i3BtG9C8c9Yb1_tU">GROOVY GROOVY GROOVY</a><br>
            <a href="https://youtu.be/Pwht_zL3_go?si=2zIh8zCvL1jQhurD">I LOVE THE WORLD</a><br>
            <a href="https://youtu.be/5BuDHbIe4pg?si=b0y-P0VrZUyINJ-6">激動</a><br> </h6>
            <h6 class="sub">など
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>

            <% elsif @musics.question2 == "option3" %>
            <div class="main">
            <h6 class="main__about--description-title">
            <a href="https://youtu.be/wcbp6bmxSSs?si=a3HBsS1vYQTHbFrn">One stroke for freedom</a><br>
            <a href="https://youtu.be/0apEoIc8sDY?si=4P-tr24eMoBQNJ1h">Making it Drive</a><br>
            <a href="https://youtu.be/RUtntvZmeec?si=hb9LsKaUDv8Jr6DS">HOURGLASS</a><br> </h6>
            <h6 class="sub">など</h6>
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>

            <% elsif @musics.question2 == "option4" %>
            <div class="main">
            <h6 class="main__about--description-title"> 
            <a href="https://youtu.be/RwppN4YzbzM?si=VjfzY4oyBWYXEivV">オトノハ</a><br>
            <a href="https://youtu.be/M7v2_E3pQNc?si=8QysvFdJrB0VTq1I">ALL ALONE</a><br>
            <a href="https://youtu.be/i1iMZLwq9nI?si=DJshZg6OWJs5B6FR">NOWHERE boy</a><br>
            <a href="https://youtu.be/_F6iL239Sac?si=iq2LVUk3qFmnpNPF">君の好きなうた</a><br> </h6>
            <h6 class="sub">など</h6>
            <h6 class="main__about--description">
            <br>クリックで開きます！</h6>
        </div>
    </div>
<% end %>  